/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
body{
  background-color: #22254b;
  
}

#root{
  display: flex;
  flex-direction: column;
}

.movie {
  margin: 0.5rem;
  background-color: #373b69;
  border-radius: 3px;
  overflow: hidden;
  width: 250px;
  position: relative;
  box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.1);
}

.movie img{
  max-width: 200%;
  width: 250px;
}

.movie span{
  font-size: 110%;
}

.movie-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  
}

.movie-info{
  display: flex;
  padding: 0.2rem;
  align-items: center;
  justify-content: space-between;
}